*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //This could be considered as typography but i used RAMS, this acts more like an overall setting
}

body {
    box-sizing: border-box;
}